
<!-- IE9 Placeholder -->
<!--[if IE 9 ]>
    <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->
<!-- Site functions and actions -->
<!-- Bootstrap -->
<script src="assets/roost/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/roost/js/app.min.js"></script>
<!-- Demo only -->
<script src="assets/roost/js/demo/demo.js"></script>




<!--<header id="header">

    <div class="header__search container">
        <form>
            <div class="search">
                <div class="search__type dropdown">
                    <a href="" data-toggle="dropdown">Rent</a>
                    <div class="dropdown-menu">
                        <div>
                            <input type="radio" name="property-type" value="rent">
                            <span>Rent</span>
                        </div>
                        <div>
                            <input type="radio" name="property-type" value="buy">
                            <span>Buy</span>
                        </div>
                    </div>
                </div>
                <div class="search__body">
                    <input type="text" class="search__input" placeholder="Enter any Neighorhood, Feature, Zip Code" data-rmd-action="advanced-search-open">
                    <div class="search__advanced">
                        <div class="col-sm-6">
                            <div class="form-group form-group--float">
                                <input type="text" class="form-control" value="New York, NY">
                                <label>Location</label>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Ownership Type</label>
                                <select class="select2">
                                    <option value="">Single Family Home</option>
                                    <option value="">Condo</option>
                                    <option value="">Townhome</option>
                                    <option value="">Apartment Community</option>
                                    <option value="">Room</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group--range">
                                <label>Price Range</label>
                                <div class="input-slider-values clearfix">
                                    <div class="pull-left"><span>$</span><span id="property-price-upper"></span></div>
                                    <div class="pull-right"><span>$</span><span id="property-price-lower"></span></div>
                                </div>
                                <div id="property-price-range"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group--range">
                                <label>Area Size (sqft)</label>
                                <div class="input-slider-values clearfix">
                                    <div class="pull-left" id="property-area-upper"></div>
                                    <div class="pull-right" id="property-area-lower"></div>
                                </div>
                                <div id="property-area-range"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Bedrooms</label>
                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn">
                                        <input type="checkbox" name="advanced-search-beds" id="bed1">1
                                    </label>
                                    <label class="btn active">
                                        <input type="checkbox" name="advanced-search-beds" id="bed2" checked>2
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="advanced-search-beds" id="bed3">3
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="advanced-search-beds" id="bed4">4
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="advanced-search-beds" id="bed5">4+
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Bathrooms</label>
                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn active">
                                        <input type="checkbox" name="advanced-search-baths" id="bath1" checked>1
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="advanced-search-baths" id="bath2">2
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="advanced-search-baths" id="bath3">3
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="advanced-search-baths" id="bath4">4
                                    </label>
                                    <label class="btn">
                                        <input type="checkbox" name="advanced-search-baths" id="bath5">4+
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 m-t-10">
                            <button class="btn btn-primary">Search</button>
                            <button class="btn btn-link" data-rmd-action="advanced-search-close">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="header__recommended">
        <div class="my-location">
            <div class="my-location__title">Properties nearby your location</div>
            <div class="dropdown my-location__location hidden-xs">
                <a href="" data-toggle="dropdown"><i class="zmdi zmdi-pin"></i> San Francisco County, CA</a>
                <div class="dropdown-menu pull-right stop-propagate">
                    <strong>Change Location</strong>
                    <small>Set your location to get list of properties nearby you</small>
                    <form>
                        <div class="form-group form-group--float">
                            <input type="email" class="form-control" placeholder="Enter City, State, Zip">
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="my-location__map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84147.43307199534!2d-74.15863267618451!3d40.71380993356828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2slk!4v1465216708326" style="border:0; width: 100%; height: 250px;" allowfullscreen></iframe>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="listings-grid">
            <div class="listings-grid__item">
                <a href="listing-detail.html">
                    <div class="listings-grid__main">
                        <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
                        <div class="listings-grid__price">$1,175,000</div>
                    </div>
                    <div class="listings-grid__body">
                        <small>21 Shop St, San Francisco</small>
                        <h5>Integer tempor luctus maximus</h5>
                    </div>
                    <ul class="listings-grid__attrs">
                        <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 03</li>
                        <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 02</li>
                        <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 02</li>
                    </ul>
                </a>
                <div class="actions listings-grid__favorite">
                    <div class="actions__toggle">
                        <input type="checkbox">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <i class="zmdi zmdi-favorite"></i>
                    </div>
                </div>
            </div>
            <div class="listings-grid__item">
                <a href="listing-detail.html">
                    <div class="listings-grid__main">
                        <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
                        <div class="listings-grid__price">$1,200,000</div>
                    </div>
                    <div class="listings-grid__body">
                        <small>Beverly Hills, CA 90210</small>
                        <h5>Duis sollicitudin ante bibendum</h5>
                    </div>
                    <ul class="listings-grid__attrs">
                        <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 03</li>
                        <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 03</li>
                        <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 01</li>
                    </ul>
                </a>
                <div class="actions listings-grid__favorite">
                    <div class="actions__toggle">
                        <input type="checkbox">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <i class="zmdi zmdi-favorite"></i>
                    </div>
                </div>
            </div>
            <div class="listings-grid__item">
                <a href="listing-detail.html">
                    <div class="listings-grid__main">
                        <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
                        <div class="listings-grid__price">$910,000</div>
                    </div>
                    <div class="listings-grid__body">
                        <small>132 04th St, San Francisco</small>
                        <h5>Fusce quis libero nonorcious</h5>
                    </div>
                    <ul class="listings-grid__attrs">
                        <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 02</li>
                        <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 01</li>
                        <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 01</li>
                    </ul>
                </a>
                <div class="actions listings-grid__favorite">
                    <div class="actions__toggle">
                        <input type="checkbox">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <i class="zmdi zmdi-favorite"></i>
                    </div>
                </div>
            </div>
            <div class="listings-grid__item">
                <a href="listing-detail.html">
                    <div class="listings-grid__main">
                        <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
                        <div class="listings-grid__price">$2,542,000</div>
                    </div>
                    <div class="listings-grid__body">
                        <small>132 Lockslee, San Francisco</small>
                        <h5>Pellentesque habitant</h5>
                    </div>
                    <ul class="listings-grid__attrs">
                        <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 05</li>
                        <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 03</li>
                        <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 03</li>
                    </ul>
                </a>
                <div class="actions listings-grid__favorite">
                    <div class="actions__toggle">
                        <input type="checkbox">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <i class="zmdi zmdi-favorite"></i>
                    </div>
                </div>
            </div>
            <div class="listings-grid__item">
                <a href="listing-detail.html">
                    <div class="listings-grid__main">
                        <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
                        <div class="listings-grid__price">$823,000</div>
                    </div>
                    <div class="listings-grid__body">
                        <small>San Francisco, CA 900212 </small>
                        <h5>Maecenas sed purus lorem aliquet cursus</h5>
                    </div>
                    <ul class="listings-grid__attrs">
                        <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 01</li>
                        <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 01</li>
                        <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 0</li>
                    </ul>
                </a>
                <div class="actions listings-grid__favorite">
                    <div class="actions__toggle">
                        <input type="checkbox">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <i class="zmdi zmdi-favorite"></i>
                    </div>
                </div>
            </div>
            <div class="listings-grid__item">
                <a href="listing-detail.html">
                    <div class="listings-grid__main">
                        <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
                        <div class="listings-grid__price">$1,120,000</div>
                    </div>
                    <div class="listings-grid__body">
                        <small>21120 Broadway St, San Fransisco</small>
                        <h5>Maecenas sed purus at lorem</h5>
                    </div>
                    <ul class="listings-grid__attrs">
                        <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 03</li>
                        <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 02</li>
                        <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 02</li>
                    </ul>
                </a>
                <div class="actions listings-grid__favorite">
                    <div class="actions__toggle">
                        <input type="checkbox">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <i class="zmdi zmdi-favorite"></i>
                    </div>
                </div>
            </div>
            <div class="listings-grid__item">
                <a href="listing-detail.html">
                    <div class="listings-grid__main">
                        <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
                        <div class="listings-grid__price">$3,000,000</div>
                    </div>
                    <div class="listings-grid__body">
                        <small>San Francisco, CA 937202</small>
                        <h5>Nullam finibus libero at hendrerit</h5>
                    </div>
                    <ul class="listings-grid__attrs">
                        <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 06</li>
                        <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 05</li>
                        <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 02</li>
                    </ul>
                </a>
                <div class="actions listings-grid__favorite">
                    <div class="actions__toggle">
                        <input type="checkbox">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <i class="zmdi zmdi-favorite"></i>
                    </div>
                </div>
            </div>
            <div class="listings-grid__item">
                <a href="listing-detail.html">
                    <div class="listings-grid__main">
                        <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="">
                        <div class="listings-grid__price">$1,175,000</div>
                    </div>
                    <div class="listings-grid__body">
                        <small>4313 Beverly Hills, CA 90210</small>
                        <h5>1358 Ligula Street, Unit 12</h5>
                    </div>
                    <ul class="listings-grid__attrs">
                        <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 03</li>
                        <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 02</li>
                        <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 02</li>
                    </ul>
                </a>
                <div class="listings-grid__favorite">
                    <div class="actions__toggle">
                        <input type="checkbox">
                        <i class="zmdi zmdi-favorite-outline"></i>
                        <i class="zmdi zmdi-favorite"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>-->

    
   
    
    <section class="section">
        <div class="container">
            <header class="section__title">
                <h2>8,243 Properties for Sale, Rent & Real Estate</h2>
                <small>Villas, Apartments, Office Spaces and Commercial Builsings</small>
                <img ng-src="/assets/img/loading.gif" alt="Loadin Data" ng-show=loadingVisible>
            </header>
            
            <div class="row" ng-hide=loadingVisible>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card__header card__header--minimal">
                            <h2>Recent Properties for Sale</h2>
                            <small>Nunc urnami tempor eget ipsum eurutrum gravida tellus</small>
                        </div>
                        <div class="grid-widget grid-widget--listings">

                            <div class="col-xs-6" ng-repeat="x in featProperties | limitTo:4 ">
                                <a class="grid-widget__item" href="listing-detail.html">
                                    <img src="/assets/img/placeholder_rent.jpg" alt="">
                                    <div class="grid-widget__info">
                                        <h3>$ {{x.Price}}</h3>
                                        <small>{{x.Title}}</small>
                                    </div>
                                </a>
                            </div>


                        </div>

                        <a class="view-more" href="grid-listings.html">
                            View all properties for sale <i class="zmdi zmdi-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card__header card__header--minimal">
                            <h2>Recent Properties for Rent</h2>
                            <small>Suspendisse quis massa fringilla sagittis velit utultrices tellus</small>
                        </div>
                        <div class="grid-widget grid-widget--listings">
                            <div class="col-xs-6" ng-repeat="x in featProperties | limitTo:4 ">
                                <a class="grid-widget__item" href="listing-detail.html">
                                    <img src="/assets/img/placeholder_rent.jpg" alt="">
                                    <div class="grid-widget__info">
                                        <h3>$ {{x.Price}}</h3>
                                        <small>{{x.Title}}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <a class="view-more" href="grid-listings.html">
                            View all properties for rent <i class="zmdi zmdi-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>