@{
    ViewBag.Title = "About";
}
<h2>What is this all about?</h2>
<h3>Let me explain...</h3>

<p>This an MVC5 project for a fictional Real Estate website where I try out various stuff of how things should be done while following
    mvc paterns and a database first approach. The application stack is NET 4.5 MVC5 ,bootstrap,plugins and various custom javascript/jquery,
    Data access is done using Dapper ORM and for database I use a basic mssql db instance on Microsoft's cloud platform Azure</p>
