@{
    ViewBag.Title = "Contact";
}
<h2>Contact Page</h2>
<h3>...to contact me?</h3>

<address>
    Vasileios Kougioumtzis<br />
    Athens, Greece<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vasileioskk@gmail.com">vasileioskk@gmail.com</a><br />
</address>